<header class="navBar">
        <div class="navBar_tmdb">
            <ul>
                <li><a href="">Search Movies</a></li>
                <li><a href="">Movie Info</a></li>
            </ul>
        </div>
        <div class="navBar_favourites">
            <ul>
                <li><a href="">Favourites</a></li>
                <li><a href="">Save favourite</a></li>
                <li><a href="">Update favourite</a></li>
                <li><a href="">Delete favourite</a></li>
            </ul>
        </div>
</header>