body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    width: max-content;
    text-align: center;
    margin: 0 auto;
}

.form_login {
    background-color: seagreen;
    width: 100vw;
}

input {
    text-align: center;
    display: block;
    padding: 10px;
    margin: 5px;
}

.tmdb_logo {
    margin-top: 25px;
    height: 50px;
}

.tmdb_result {
    display: flex;
    flex-direction: column;
}